﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div >
        <h4>Getting started EASY HOTEL</h4>
        <a href="@Url.Action("Login", "Users")">Login here!</a>
    </div>
</div>