﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignupSuccess</title>
</head>
<body>
    <div>
        <h3>Register Successfully!</h3>
        <a href="@Url.Action("Login", "Users")">Login again</a>
    </div>
</body>
</html>