﻿@model UserReservation.Models.reserve
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Autherize</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>"Autherize"</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>User:@Session["userName"].ToString()</h3>
        <a href="@Url.Action("Loginout", "Login")">LogOut</a>
    </div>
</body>
</html>
