﻿@model UserReservation.Models.reserve

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>reserve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.check_in_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_on_credit_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_on_credit_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_card_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiration_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiration_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
